<form class="form-signin">
  <img class="mb-4" src="/assets/images/logo_nh.png" alt="" width="auto" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
  <label for="inputUsername" class="sr-only">User Name</label>
  <input type="text" class="form-control" placeholder="username" autofocus formControlName="username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" class="form-control" placeholder="Password" formControlName="password">
  <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: tomato;">Sign in</button>
</form>
